body {
    background-color: #1C1C1C;
}

.passgen-container {
    background-color: #1F2937;
    margin: auto;
    border-radius: 4px;
    width: 40%;
    height: 400px;
    margin-top: 90px;
    padding: 30px 20px 0px 35px;
}

.karla,
.karla2 {
    font-family: Karla;
    font-size: 33px;
    margin-bottom: 0px;
}

.karla {
    color: white;
}

.karla2 {
    color: #4ADF86;
    margin-top: 0px;
}

.inter {   
    font-family: inter;
    color: white;
    margin-top: 5px;
    margin-bottom: 0px;
}

.generate-password-btn {
    background-color: #10B981;
    font-family: inter;
    color: white;
    border: none;
    margin-top: 35px;
    padding: 6px 10px 6px 10px;
    font-size: 11px;
    border-radius: 4px;
    margin-bottom: 0px;
}

.generate-password-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

hr {
    background-color: #273549;
    border: none;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.first-password,
.second-password {
    background-color: #273549;
    color: #55F991;
    display: inline-block;
    height: 20px;
    width: 145px;
    border-radius: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 0px 2px 20px;
    font-size: 13px;
    font-family: inter;
}

.second-password {
    margin-left: 10px;
}
